$simonButtonHeight: 150px;
$simonBigCircleHeight: 400px;

/************ simon button template ******/
%simon-button{
    border: 4px solid rgba(70, 70, 70, 1);
    position: absolute;
    transition: all 0.1s ease-in-out;
}

/************ Mixin used to set border radius ******/ 
@mixin applyBorderRadius($top-left, $top-right, $bottom-right, $bottom-left) {
    border-radius: $top-left $top-right $bottom-right $bottom-left;
}

.game-section{
    width: 100%;
    height: 560px;
    margin: 0 auto;
    background: linear-gradient(to left, #39D0D0, #A8CEE4);
    background: -webkit-linear-gradient(to left, #39D0D0, #A8CEE4);
    background: -moz-linear-gradient(to left, #39D0D0, #A8CEE4);
    background: -ms-linear-gradient(to left, #39D0D0, #A8CEE4);
    background: -o-linear-gradient(to left, #39D0D0, #A8CEE4);
    position: relative;

    #game-overlay{
        width: 80%;
        height: 400px;
        background-color: rgba(64, 34, 230, 0.5);
        border: 3px solid yellow;
        position: absolute;
        z-index: 10;
        border-radius: 10px;
        top: 75px;
        left: 10%;

        #game-overlay-message{
            text-align: center;
            padding: 10px;
            margin-top: 180px;
        }
    }

    .game-overlay-hidden{
        display: none;
    }

    .simon-wrapper{
        padding-top: 65px;
        margin-bottom: 30px;
        width: 100%;
        height: 450px;
    }

    .bg-circle{
        height: $simonBigCircleHeight;
        width: $simonBigCircleHeight;
        border-radius: 50%;
        background-color: rgba(110, 110, 110, 0.8);
        border: 4px solid rgba(70, 70, 70, 1);
        margin: 10px auto;
        position: relative;
    }

    .simon{
        width: $simonButtonHeight;
        height: $simonButtonHeight;
    }

    #simon-green{
        @extend %simon-button;
        @include applyBorderRadius(100%, 50px, 100px, 50px);
        background-color: green;
        top: 30px;
        left: 30px;
    }

    #simon-green:hover{
        cursor: pointer;
    }
    
    #simon-red{
        @extend %simon-button;
        @include applyBorderRadius(50px, 100%, 50px, 100px);
        background-color: red;
        top: 30px;
        right: 30px;
    }

    #simon-red:hover{
        cursor: pointer;
    }

    #simon-blue{
        @extend %simon-button;
        @include applyBorderRadius(100px, 50px, 100%, 50px);
        background-color: blue;
        bottom: 30px;
        right: 30px;
    }

    #simon-blue:hover{
        cursor: pointer;
    }

    #simon-yellow{
        @extend %simon-button;
        @include applyBorderRadius(50px, 100px, 50px, 100%);
        background-color: yellow;
        bottom: 30px;
        left: 30px;
    }

    #simon-yellow:hover{
        cursor: pointer;
    }

    #score-display{
        font-family: VT323;
        width: 90px;
        height: 90px;
        text-align: center;
        line-height: 90px;
        font-size: 4em;
        color: red;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        top: 150px;
        left: 152px;
    }

/************ Play/Restart Buttons ******/
    .game-buttons{
        width: 200px;
        height: 100px;
        margin: 50px auto;

        .btn{
            border-width: 2px;
            display: block;
            margin: 0 auto;
            width: 80px;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
        }

        .button-hide{
            display: none;
        }
    }

/************ Media Queries ******/

    @media screen and (max-width: 768px){
        .bg-circle{
            height: $simonBigCircleHeight - 50px;
            width: $simonBigCircleHeight - 50px;
            padding: 0;
        }

        .simon{
            height: $simonButtonHeight - 20px;
            width: $simonButtonHeight - 20px;
        }

        #score-display{
            width: 80px;
            height: 80px;
            line-height: 80px;
            top: 130px;
            left: 132px;
            font-size: 3em;
        }

        #game-overlay{
            width: 90%;
            left: 20px;

            #game-overlay-message{
                margin-top: 120px;
            }
        }

    }
}